<%- include("templates/header", { pageTitle: "403 Forbidden" }) %>

<div class="alert alert-danger">
    <h2>403 - Forbidden</h2>
    <p><%= message %></p>
    <a href="/" class="btn btn-primary">Return Home</a>
    <a href="/members" class="btn btn-primary">Return To Member's Area</a>
</div>

<%- include("templates/footer") %>
