<%- include("templates/header") %> 

    <h1>Welcome, <%= user.name %>!</h1>
    <img src="/<%= image %>" alt="Random" width="300">
    <br><br>
    <a href="/logout">Log Out</a>
    
<%- include("templates/header") %> 
