<%- include("templates/header") %>

<h1 class="mb-4">Welcome, <%= user.name %>!</h1>
<div class="row">
    <div class="col-12 col-md-4 mb-3">
        <img src="/Brucey of Thrones.jpg" class="img-fluid rounded shadow" alt="Image 1">
    </div>
    <div class="col-12 col-md-4 mb-3">
        <img src="/Brucey Potter.jpg" class="img-fluid rounded shadow" alt="Image 2">
    </div>
    <div class="col-12 col-md-4 mb-3">
        <img src="/Trailer Park Brucey.jpg" class="img-fluid rounded shadow" alt="Image 3">
    </div>
</div>

<a href="/logout" class="btn btn-danger mt-3">Log Out</a>
<a href="/admin" class="btn btn-primary mt-3">Admin Dashboard</a>

<%- include("templates/footer") %>
